header{
    /* border:solid red; */
    color: #F9FAF9;
    background-color:#1F2937 ;
    font-size: 18px;
}

.footer{
    /* border:solid red; */
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    background-color: #1F2937;
    color: #F9FAF9;
    width:100%;
}

.container{
    /* border:red solid; */
    display: flex;
    justify-content: space-between;
}

.right{
    display:flex;
    justify-content: space-evenly;
    gap:30px;
    align-items: center;
}


a{
    text-decoration: none;
    color: #F9FAF8;
    padding:10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border:solid; */
}

footer{
    margin-top: auto;
}


html, body{
    margin:0;
    height 100%;
    overflow-x: hidden;

}


.box{
    border:solid blue;
    display: flex;
    /* justify-content: */
    align-items: stretch;
    flex-direction: column;
     flex:1; 
}

img{
    max-height: 100px;
    max-width: 200px;
}

#top{
background-color: #3882f6; 
color:white;
border-radius: 5px;
border-color: #1F2937;
}


.one{
    border:solid red;
    background-color: #1F2937;
}

.one h1{
    color:white;
    font-weight: 900;
}


.two{
    border:solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height:100%;
}



.three{
    background-color: #e5e7eb;
    font-family: light italic;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quote-end{
    position: relative;
    right:-200px
}